body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  font-size:140%;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.input-section {
  margin-bottom: 20px;
}

.record-section,
.history-section {
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  margin: 5px;
  font-size: 16px;
}

textarea {
  width: 100%;
}

